<div class="container w-50 text-center mt-5">
  <%= form_for(resource, class: "form-signin", as: resource_name, url: session_path(resource_name)) do |f| %>
    <img class="mb-4" src="/assets/login.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Entre com email e senha</h1>

    <%= f.email_field :email, class: "form-control mb-3", placeholder: "Email", required: true, autofocus: true, autocomplete: "email" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Senha", required: true, autocomplete: "current-password" %>
    <hr class="my-4">
    <%= f.submit "Entrar", class: "btn btn-lg btn-primary btn-block mb-1" %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Não tem uma conta? Cadastre-se", new_registration_path(resource_name) %><br />
    <% end %>

    <p class="mt-5 mb-3 text-muted">© 2021</p>
  <% end %>
</div>
