<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.label "Nome", for: "nameInput" %>
    <%= form.text_field :name, class: "form-control", id: "nameInput", placeholder: "Nome do Vídeo" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.label "URL", for: "urlInput" %>
    <%= form.text_field :url, class: "form-control", id: "urlInput", placeholder: "URL do Vídeo" %>
  </div>

  <div class="form-floating mb-3">
    <%= button_tag "Salvar", type: 'submit', class: "btn btn-primary" %>
    <%= link_to "Cancelar", videos_path, class: "btn btn-danger", "data-toggle": "tooltip", title: "Voltar" %>
  </div>

<% end %>
