<div class="table-responsive container">
  <h1 class="mt-5">Vídeos de <%= current_user.name %></h1>
  <table class="table table-striped table-hover mb-5">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Visualizações</th>
        <th>Url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @videos.each do |video| %>
        <tr>
          <td><%= video.name %></td>
          <td><%= video.quantity %></td>
          <td><%= video.url %></td>
          <td><%= link_to 'Visualizar', play_path(video) %></td>
          <td><%= link_to 'Edita', edit_video_path(video) %></td>
          <td><%= link_to 'Apagar', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Novo", new_video_path, class: "btn btn-md btn-success", "data-toggle": "tooltip", title: "Novo Registro"%>
</div>
