<header>
  <div class="container">
    <h2 class="h1 mt-5 mb-3">Todo os Vídeos</h2>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="card-deck">
        <% @videos.each do |video| %>
          <div class="mb-5">
            <%= link_to play_path(video), class: "text-dark text-decoration-none" do %>
            <div class="card card-video">
              <div class="card-header h4"><%= video.name %></div>
              <%#= image_tag video.cover, class:"card-body", alt: video.name unless !video.cover.attached? %>
              <% if video.cover.attached? %>
                <%= image_tag video.cover, class:"card-body", alt: video.name %>
              <% else %>
                <%= image_tag "/assets/thumb-video.png", class:"card-body", alt: video.name %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title h6"><%= video.quantity > 0 ?  "#{video.quantity} Visualizações" : 'Seja o primeiro a assistir' %></h5>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
