<div class="container w-50 text-center">
  <%= form_for(resource, class: "form-signin", as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <img class="mb-4" src="/assets/login.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Entre com email e senha</h1>

    <%= f.text_field :name, class: "form-control mb-3", placeholder: "Nome", required: true, autofocus: true, autocomplete: "name" %>
    <%= f.email_field :email, class: "form-control mb-3", placeholder: "Email", required: true, autofocus: true, autocomplete: "email" %>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control mb-3", placeholder: "Senha", required: true, autocomplete: "new-password" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirme a Senha", required: true, autocomplete: "new-password" %>


    <hr class="my-4">
    <%= f.submit "cadastrar", class: "btn btn-lg btn-primary btn-block mb-1" %>

    <%- if controller_name != 'sessions' %>
      <%= link_to "Já é cadastrado? Entrar.", new_session_path(resource_name) %><br />
    <% end %>

    <p class="mt-5 mb-3 text-muted">© 2021</p>
  <% end %>
</div>